name: Test
on:
  push:
    branches: [master]
    tags: [ v* ]
  pull_request:
  workflow_dispatch:
jobs:
  build:
    strategy:
      matrix:
        scalaVersion: ["2.12.20", "2.13.16", "3.6.4"]
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v5
      - uses: coursier/cache-action@v7
      - uses: olafurpg/setup-scala@v14

      - name: Test
        run: sbt "++${{matrix.scalaVersion}} test"

      # - name: Debug over SSH (tmate)
      #   # if: ${{ failure() }}
      #   uses: mxschmitt/action-tmate@v3
      #   with:
      #     limit-access-to-actor: true

